
.echec{
  width:45px;
  height:45px
}
.success{
  width:35px;
  height:35px
}
  .ok-btn{
  border: 1px solid #1170C4;
  padding: 0 10px !important;
  line-height: 34px !important;
  color: #fff !important;
  width: 189px;
  background-color:#1170C4;
  }
