::ng-deep .adf-container-full-width {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  }

  .icon{
	width:25px;
	height:25px;
  }

  .fnt-11{
  font-size: 11px;
  }
  .save-btn {
    border: 1px solid #1170C4;
    padding: 0 15px !important;
    line-height: 34px !important;
    color: #1170C4 !important;
    width: 100% !important;
    background: #fff !important;
  }
  .bg-card{
    background-color:#ccc;
  }
  .card-body {
    padding: 15px !important;
    border-radius: 4px!important;
  }
  .card {
    border-radius: 4px !important;
  }
  .f-right{
    float: right !important;
  }