.mt-22{
  margin-top: -22px !important;
}
.border-secondary {
  border-color: #dee2e6!important;
}
.icon{
  width:25px;
  height:25px;
}
::ng-deep .h-input{
  height:35px;
  background-color: #EAECEF;
}
.w-card{
  width:190px !important;
}
.w-card-2{
  width:230px !important;
}


.mat-column-fraisprecont{
  flex: 0 0 19%;
}
.mat-column-hypthequebanques{
  flex: 0 0 12%;
}
.mat-column-Rang{
  flex: 0 0 5%;
}
.mat-column-select{
  flex: 0 0 8%;
}
.mat-cell{
  font-size: 9px;
}
.mat-header-cell{
  font-size: 9px;
}
.pen-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.custom-button {
  background-color: #220c86;
  color: white;
  width: 260px;
  margin-right: 25px;
  transition: background-color 0.3s ease;
}
.custom-button:hover {
  background-color: #fff;
  color: #1170C4;
}
.custom-button:last-child {
  margin-right: 0;
}